---
import DistroLayout from '../layouts/DistroLayout.astro';
import Hero from '../components/distro/Hero.astro';
import LogoStrip from '../components/distro/LogoStrip.astro';
import Philosophy from '../components/distro/Philosophy.astro';
import Ticker from '../components/distro/Ticker.astro';
import BentoGrid from '../components/distro/BentoGrid.astro';
import About from '../components/distro/About.astro';
import Footer from '../components/distro/Footer.astro';
---

<DistroLayout title="Distribution Labs | High-Stakes GTM">
	<main>
		<Hero />
		<LogoStrip />
		<Philosophy />
		<Ticker />
		<BentoGrid />
		<About />
		<Footer />
	</main>
</DistroLayout>
